*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head{
    width: 100%;
    padding: 12px 15px;
    background-color:#212529;
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.head .rightSide ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}
.head .rightSide ul li{
    list-style: none;
    margin-right: 20px;
}
.head .rightSide ul li a{
    text-decoration: none;
    color: #FFFFFF8c;
    font-size: 16px;
}
.head .rightSide ul li a:hover{
    color: white;
}
.head .rightSide .home{
    color: white ;
}
.head .leftSide h2{
    color: white;
    margin-left: 50px;
    font-size: 22px;
    cursor: pointer;
}
/* **************/
.welcome{
    text-align: center;
    padding: 30px 40px;
    margin: 0 30px;
    background-color: #f8f9fa;
    
}
.welcome h2{
    font-size: 46px;
}
.welcome p{
font-size: 24px ;

}
.welcome .callTo{
font-size: 18px;
padding: 12px 16px;
margin: 20px 0;
cursor: pointer;
color: white;
border: none;
border-radius: 5px;
background-color: rgba(13, 110, 253,0.9);
}
.welcome .callTo:hover{
background-color: rgb(13,110,253) ;
} 
.sections{
    padding: 20px 40px;
    margin: 20px 40px;
    
}
.sections .section1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.sections .section1 .fresh{
    background-color:white;
    width: 45%;
    padding: 55px 0;
    margin-left: 40px;
    

    position: relative;
}
.sections .section1 .fresh i{
    background-color: rgb(13,110,253) ;
    color: white;
    font-size: 48px;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    left: 40%;
    bottom: 80%;
}
.sections .section1 .fresh h3{
    font-size: 24px;
}
.copyright{
    background-color: #212529;
    text-align: center;
    padding: 48px 0;
    
}
.copyright span{
    color: white;
    text-align: center;
}
