*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 20px;
width: 100%;
color: white;
position: absolute;
z-index: 1;
top: 0;
left: 0;
}
#header .bootstrap{
    margin-left: 50px;
    padding-left:50px;
    font-size: 26px;
    font-weight: 700;
}
#header .menu ul{
display: flex;
flex-wrap: wrap;
margin-right: 40px;
padding-right: 30px;
}
#header .menu ul li{
list-style: none;
margin-right: 30px;
font-size: 20px;
font-weight: 500;
}
#header .menu ul li a{
text-decoration: none;
color: white;
}
.cleanBlog{
    text-align: center;
    background-image: url(/images/contact-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
    
    
    }
    .cleanBlog h1{
        transform: translateY(220px);
        font-size: 72px;
        color: white;
        z-index: 3;
        
    }
    .cleanBlog p{
        transform: translateY(220px);
        font-size: 28px;
        color: white;
    }
    .cleanBlog .overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #212529;
    opacity: 0.7;
    width: 100%;
    height: 550px;
    }
    .contact{
        transform: translateX(30%);
    }
    .contact p{
        margin: 40px 0;
        padding: 5px 0;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    }
    .form{
        transform: translateX(30%);
        
    }
    .form input{
        border: none;
        font-size: 22px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 20px 0 10px;
    }
    .form hr{
        width: 50%;
        font-weight: 4px;
    }
    .form button{
        font-size: 22px;
        width: 120px;
        height: 60px;
        padding: 15px;
        color: white;
        background-color: rgb(63, 146, 182);
        border: none;
        margin: 40px 0;
    }
    .copyright {
        text-align: center;
        margin: 40px 0;
        padding: 20px 0;
        }
        .copyright  ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        
        }
        .copyright .face{
            padding: 10px 18px;
        }
        .copyright  ul li{
        margin: 12px ;
        background-color: black;
        color: white;
        border-radius: 50%;
        border: none;
        font-size: 24px;
        padding: 10px 14px;
        }
        .copyright ul li:hover{
            background-color: rgb(13, 88, 103);
        }