*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 20px;
width: 100%;
color: white;
position: absolute;
z-index: 1;
top: 0;
left: 0;
}
#header .bootstrap{
    margin-left: 50px;
    padding-left:50px;
    font-size: 26px;
    font-weight: 700;
}
#header .menu ul{
display: flex;
flex-wrap: wrap;
margin-right: 40px;
padding-right: 30px;
}
#header .menu ul li{
list-style: none;
margin-right: 30px;
font-size: 20px;
font-weight: 500;
}
#header .menu ul li a{
text-decoration: none;
color: white;
}
/* -------section-------- */
.cleanBlog{
text-align: center;
background-image: url(/images/home-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 600px;
position: relative;


}
.cleanBlog h1{
    transform: translateY(300px);
    font-size: 64px;
    color: white;
    
}
.cleanBlog p{
    transform: translateY(300px);
    font-size: 22px;
    color: white;

}
.cleanBlog .overlay{
position: absolute;
left: 0;
top: 0;
background-color: #212529;
opacity: 0.5;
width: 100%;
height: 600px;
}
.parts{
    text-align: center;
  
}
.parts .part{
    padding: 30px 0;
}
.parts .part h1{
    font-size: 36px;
}
.parts .part h1:hover{
    color: rgb(13, 88, 103);
    cursor: pointer;
}
.parts .part p{
    font-size: 25px;
}
.parts .part p:hover{
    color: rgb(13, 88, 103);
    cursor: pointer;
}
.parts .part .hv:hover{
    color: rgb(13, 88, 103);
    cursor: pointer;
}
.parts .part span{
    font-size: 18px;
    font-family: 'Lora', serif;
}
.parts hr{
    width: 40%;
    margin: 0 30%;
    height: 2px;
    background-color: #dee2e6;
}
.parts button{
padding: 16px 28px;
transform: translateX(150px);
background-color: rgba(0,133,161,0.9);
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-weight: 700;
font-size: 18px;
border: none;
margin-top: 15px;
margin-bottom: 15px;
}
.parts button:hover{
    background-color: rgb(13, 88, 103);
    cursor: pointer;
}
.parts button i{
    font-size: 14px;
    color: white;
}
.copyright {
text-align: center;
margin: 40px 0;
padding: 20px 0;
}
.copyright  ul{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;


}
.copyright .face{
    padding: 10px 18px;
}
.copyright  ul li{
margin: 12px ;
background-color: black;
color: white;
border-radius: 50%;
border: none;
font-size: 24px;
padding: 10px 14px;
}
.copyright ul li:hover{
    background-color: rgb(13, 88, 103);
}
