*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 20px;
width: 100%;
color: white;
position: absolute;
z-index: 1;
top: 0;
left: 0;
}
#header .bootstrap{
    margin-left: 50px;
    padding-left:50px;
    font-size: 26px;
    font-weight: 700;
}
#header .menu ul{
display: flex;
flex-wrap: wrap;
margin-right: 40px;
padding-right: 30px;
}
#header .menu ul li{
list-style: none;
margin-right: 30px;
font-size: 20px;
font-weight: 500;
}
#header .menu ul li a{
text-decoration: none;
color: white;
}
/* -------section-------- */
.cleanBlog{
background-image: url(/images/post-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 800px;
position: relative;
}
.cleanBlog .overlay{
background-color: rgba(33, 37, 41,0.7);
width: 100%;
height: 800px;
position: absolute;
left: 0;
top: 0;
}
.cleanBlog .overlay .h1pspan{
color: white;
transform: translate(37%,200px);
}
.cleanBlog .overlay .h1pspan h1{
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 8px;
}
.cleanBlog .overlay .h1pspan p{
    font-size: 24px;
    font-weight: 600;
    margin: 12px 0 32px;
}
.cleanBlog .overlay .h1pspan span{
    font-size: 20px;
    font-family: 'Lora', serif;
}
.text{
    transform: translateX(30%);
}
.text p{
    margin: 30px 0;
    padding-bottom: 5px;
    font-size: 22px;
    font-family: 'Lora', serif;
}
.text h1{
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px 0 30px;
}
.text .dreams{
    font-size: 20px;
    font-family: 'Lora',serif;
    color: #6c757d;
}
.text .underimg{
    font-size: 14px;
    font-family: 'Lora',serif;
    color: #6c757d;
}
.text img{
    width: 50%;
    height: 355px;
}
.copyright {
    text-align: center;
    margin: 40px 0;
    padding: 20px 0;
    }
    .copyright  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    }
    .copyright .face{
        padding: 10px 18px;
    }
    .copyright  ul li{
    margin: 12px ;
    background-color: black;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    padding: 10px 14px;
    }
    .copyright ul li:hover{
        background-color: rgb(13, 88, 103);
    }